@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --blue: #0c66ff;
  --dark-blue: #3b506c;
  --font-size-primary-50: 50px;
  --font-weight-700: 700px;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.3;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}

/* ====== Header Section ====== */
header {
  border-bottom: 2px solid #3b506c1c;
  margin-top: 5px;
  margin-bottom: 2px;
  padding-bottom: 5px;
  /* position: unset; */
  /* box-shadow: 0px -6px 11px #3b506c; */
}
.default-width {
  padding: 0 100px;
  align-items: center;
}
.logo {
  flex-basis: 20%;
}
.logo a img {
  width: 100px;
}
nav {
  flex-basis: 80%;
}
nav ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}
nav ul li a {
  display: block;
  /* ui li er vitore "a" tag thakle, display: block korte hobe */
  color: var(--dark-blue);
  font-size: 16px;
  padding: 13px 13px;
  text-decoration: none;
  border-radius: 10px;
  transition: 0.4s;
}
nav ul li a:hover {
  background-color: var(--blue);
  color: #fff;
}

/* ====== Hero Banner Section ====== */
.container {
  max-width: 888px;
  margin: auto;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.flex-column {
  flex-direction: column;
}
p {
  color: var(--dark-blue);
  font-size: 17px;
  margin: 10px 0 30px;
}
h1 {
  font-size: var(--font-size-primary-50);
  color: var(--dark-blue);
  font-weight: 700;
}
h1 span {
  color: var(--blue);
  display: block;
}
.hero-banner-section {
  padding: 80px 0 0;
  text-align: center;
}
.hero-banner-section img {
  max-width: 650px;
  align-self: center;
}

/* ====== Feature  Section ====== */
.feature-section {
  padding: 50px 0;
}
.col_1_2 {
  flex-basis: 50%;
  padding: 15px;
}
.text-right {
  text-align: right;
}
h3 {
  font-size: var(--font-size-primary-50);
  color: #ff6347;
  font-weight: 700;
}
h2 {
  font-size: var(--font-size-primary-50);
  color: var(--dark-blue);
  font-weight: 700;
}

/* ====== Service  Section ====== */
.service-section {
  /* padding: 20px; */
  padding-bottom: 50px;
}
.service-section img {
  height: 200px;

  margin: auto;
  display: block;

  /* margin auto korle kaj hobe na, sathe display block korte hobe,
  img er nijer jayga nai, right side e jabar, block korle pura jayga pabe */
}
.col_1_3 {
  flex-basis: 33.33%;
  padding: 20px;
}
.service-01 {
  background-color: #fdebed;
  padding: 50px 30px;
}
.service-02 {
  background-color: #ebf9f4;
  padding: 50px 30px;
}
.service-03 {
  background-color: #fff7e8;
  padding: 50px 30px;
}
h4 {
  color: var(--dark-blue);
  font-size: 18px;
  margin-top: 15px;
}

/* ====== Footer  Section ====== */
footer {
  background-color: var(--blue);
  text-align: center;
  padding: 31px 20px;
}
footer p {
  margin: 0;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
}
footer p a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
}
